<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner flexRow">
                <div class="dropdown">
                    <div class="href-hover flexRow dropdown__current">
                        <div class="dropdown__img" style="background: url(assets/images/russian_flag.png) 0 0 / cover no-repeat;"></div>
                        <span>RU</span>
                    </div>
                    <ul class="dropdown__list">
                        <li><a class="href-hover" href="#"><img src="assets/images/russian_flag.png" alt=""><span>RU</span></a></li>
                        <li><a class="href-hover" href="#"><img src="assets/images/english_flag.jpg" alt=""><span>EN</span></a></li>
                    </ul>
                </div>
                <a href="index.html" class="header__logo"><img src="/assets/images/logo.svg" alt=""></a>
                <div class="flexRow">
                    <div class="search">
                        <input type="text" placeholder="Найти...">
                        <button><i class="icon-1-0_search"></i></button>
                    </div>
                    <button class="btn-login"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner flexRow">
                <button class="header__bottom-menu"><i class="icon-1-8_menu"></i></button>
                <nav>
                    <ul class="flexRow">
                        <li><a href="#" class="href-hover">Часы</a></li>
                        <li><a href="#" class="href-hover">Кольца</a></li>
                        <li><a href="#" class="href-hover">Серьги</a></li>
                        <li><a href="#" class="href-hover">Браслеты</a></li>
                        <li><a href="#" class="href-hover">Клатчи</a></li>
                        <li><a href="#" class="href-hover">Цепочки</a></li>
                    </ul>
                </nav>
                <div class="action-pages">
                    <a href="#" class="action-href heart">
                        <i class="icon-1-2_heart"></i>
                        <span class="quantity">100</span>
                    </a>
                    <a href="#" class="action-href basket">
                        <i class="icon-1-1_basket"></i>
                        <span class="quantity">100</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>